set $mod Mod4

# Font for window titles.
font pango:DejaVu Sans Mono 8

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# change focus
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+m focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+M move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+e layout toggle split
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# switch to workspace
bindsym $mod+ampersand workspace 1
bindsym $mod+eacute workspace 2
bindsym $mod+quotedbl workspace 3
bindsym $mod+apostrophe workspace 4
bindsym $mod+parenleft workspace 5
bindsym $mod+minus workspace 6
bindsym $mod+egrave workspace 7
bindsym $mod+underscore workspace 8
bindsym $mod+ccedilla workspace 9
bindsym $mod+agrave workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+eacute move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+egrave move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+ccedilla move container to workspace 9
bindsym $mod+Shift+agrave move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'Confirm i3 exit ?' -b 'Yes' 'i3-msg exit'"

 # start a terminal
bindsym $mod+Return exec --no-startup-id terminator

# kill focused window
bindsym $mod+a kill

# start dmenu
bindsym $mod+d exec menu


# resize window
mode "resize" {
        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym m resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# CUTOM i3 CONFIG

# Float
for_window [title="File Operation Progress" class="Thunar"] floating enable

# Colors
set $blue #005588
set $gray1 #484848
set $gray2 #333333
 
client.focused            $gray1   $gray1   #FFFFFF   #333333
client.focused_inactive   $gray2   $gray2   #FFFFFF   #000000
client.unfocused          $gray2   $gray2   #FFFFFF   #000000

# Exec startup programs
exec feh --bg-fill '/home/sybiload/.wallpaper/.wall.png'  
exec java -jar /home/sybiload/.pogo.jar -s

# Custom shortcuts
bindsym Print exec scrot

bindsym F2 exec amixer -q set Master toggle && amixer -q set Speaker unmute && amixer -q set Headphone unmute
bindsym F3 exec amixer -q set Master 2dB- unmute
bindsym F4 exec amixer -q set Master 2dB+ unmute

bindsym F8 exec i3lock -c 000000 

bindsym Mod1+1 exec thunar
bindsym Mod1+2 exec google-chrome-stable
bindsym Mod1+3 exec terminator --command=cmus
bindsym Mod1+4 exec terminator --command=htop

# i3bar and conky settings for bar mode

bar {
        position top
        status_command $HOME/.i3/conky_exec
        colors {
                statusline #AAAAAA
                background #333333
                focused_workspace $gray2 $gray2 #FFFFFF
                inactive_workspace $gray1 $gray1 #AAAAAA
        }
}
