[provider_openvpn]
Type = OpenVPN
Name = sybiload.com
Host = sybiload.com
Domain = sybiload.com
OpenVPN.Port = 443
OpenVPN.CACert = /etc/openvpn/ca.crt
OpenVPN.Cert = /etc/openvpn/vpn_file.crt
OpenVPN.Key = /etc/openvpn/vpn_file.key
OpenVPN.TLSAuth = /etc/openvpn/ta.key
OpenVPN.CompLZO = yes
OpenVPN.Protocol = udp
OpenVPN.Cipher = AES-256-CBC
OpenVPN.TLSAuthDir = 1
OpenVPN.RemoteCertTls = server

